---
import SkillList from "../components/SkillList/SkillList.astro";
import Careers from "../components/Career/Careers.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/ProjectList/ProjectList.astro";
import Hero from "../components/Hero/Hero.astro";
import type { Skill, Career, Project } from "../../utils/types";

import skillJson from "../../public/skills.json";
import careerJson from "../../public/careers.json";
import projectJson from "../../public/projects.json";

const skills: Array<Skill> = skillJson.skills;
const careers: Array<Career> = careerJson.careers;
const projects: Array<Project> = projectJson.projects;
---

<Layout title="Aaron Li - HomePage">
  <Hero />
  <section>
    <h1 class="mb-6 text-3xl text-teal-400 font-medium">About me</h1>
    <p class="leading-relaxed tracking-wide mb-8 text-xl">
      I am Aaron Li, a graduate student in C.S. at FJU. My research interests
      include <span class="text-teal-400">Machine Learning</span> in FinTech. Meanwhile,
      I also self-learn <span class="text-teal-400">Web Development</span> and <span
        class="text-teal-400">DevOps</span
      >.
    </p>
    <Careers careers={careers} />
  </section>
  <ProjectList projects={projects} />
  <SkillList skills={skills} />
</Layout>
