---
export interface Props {
  progress: number;
  color: string;
}

let { progress, color } = Astro.props;
if (progress > 1) progress = 1;
if (progress < 0) progress = 0;
progress *= 100;
---

<div class="w-full h-1 rounded-lg relative overflow-hidden">
  <div class="w-full h-full absolute bg-gray-300"></div>
  <div
    class="h-full absolute"
    style={{ width: `${progress}%`, backgroundColor: color }}
  >
  </div>
</div>
