---
import type { Career } from "../../../utils/types";
import CareerItem from "./CareerItem.astro";
interface Props {
  careers: Array<Career>;
}

const { careers } = Astro.props;
---

<div class="flex flex-col gap-10">
  {careers.map((career) => <CareerItem career={career} />)}
</div>
