---
import Navbar from "../components/Navbar/Navbar.astro";
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-color-mode="dark" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Aaron Li - Blog: {frontmatter.title}</title>
  </head>
  <body class="bg-white dark:bg-black transition-colors duration-200">
    <Navbar />
    <main
      class="prose prose-neutral dark:prose-invert max-w-screen-md min-h-screen mx-auto text-black dark:text-white px-4 pt-[64px]"
    >
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap");
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
</style>
